@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lato:wght@300;400&display=swap');

:root {

  --brand-color: #E57A44;
  --dark-color: #30047d;
  --old-color: #5b2e6b;
  --dark-rgba: rgba(91, 46, 107, 0.9);
  --mid-color: #DBC6BB;
  --light-color: #FAF5FF;
  --offwhite-color: #f1e4de; 
    }

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--offwhite-color);
  color: var(--dark-color);
  min-height: 100vh;
}


h1,h2,h3{
  font-family: 'Courgette', cursive;
  margin:0;
}
h1{
  font-size: 2em;
}
.subheading{
  opacity: 0.8;
  color: var(--brand-color);
}

input[type="text"]{
  padding: 1em;
  border: 2px solid var(--brand-color);
  border-radius: 0.6em;
  margin: 0 1em;
}

input[type="text"]{
  padding: 1em;
  border: 2px solid var(--brand-color);
  border-radius: 0.6em;
  margin: 0 1em;
}
input:focus{
  outline: none;
}

button{
  color: var(--light-color);
  background-color: var(--brand-color);
  padding: 1em;
  border: 2px solid var(--brand-color);
  border-radius: 0.6em;
  transition-duration: 0.3s; 
}

button:hover{
  background-color: var(--offwhite-color);
  color: var(--dark-color);
  cursor: pointer;
}

button.cross{
  color: var(--dark-color);
  background-color: transparent;
  padding: 0 1em;
  margin: 0;
  font-size: 1.2em;
  border: none;
  border-radius: 0.6em;
  transition-duration: 0.3s; 
} 
button.cross:hover{
  color: var(--brand-color);
  background-color: transparent;
  padding: 0 1em;
  margin: 0;
  font-size: 1.2em;
  border: none;
  border-radius: 0.6em;
  transition-duration: 0.3s; 
} 

p{
  opacity: 0.8;
  font-size: 1.2em;
}

a{
  text-decoration: none;
}


.branding{
  color:var(--brand-color)
}

.shop-items{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6em;
  margin: 8vh 0 16vh;
}

.shop-items div{
  flex:1;
}

.shoppe-stock{
  display: flex;
}

.shop-item{
  width: 15vw;
  background:rgba(255, 255, 255, 0.5);
  border-radius: 2em;
  padding:2em 1em ;
  margin:2em;
}

.light{
  background-color: var(--dark-color);
  color: var(--light-color);
}
.light p {
  opacity: 0.7;
}

.recipe-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 2em;
  margin: 8vh 0 16vh;
}
@media all and (max-width: 992px) { 
  .recipe-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media all and (max-width: 576px) { 
  .recipe-list {
    grid-template-columns: 1fr;
  }
}

.item-card{
  min-height:22vh;
}



header {
  text-align: center;
  background-color: var(--dark-color);
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--light-color);
  padding: 0 16vw;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height:10vh;
  background-color: var(--dark-color);
  color: var(--light-color);
  padding:0;
  margin:0;
  font-size: 0.8em;
}
footer a{
  color: var(--brand-color)
}

section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15vh 10vw;
}

section.dark{
  background: var(--dark-color);
  color: var(--light-color);
}

section.dark.magic-img{
  background:linear-gradient(0deg, var(--dark-rgba), var(--dark-rgba)), url(/src/Img/magic.jpg);
  background-size:cover;
  background-position: center center;
}
section.dark.map-img{
  background:linear-gradient(0deg, var(--dark-rgba), var(--dark-rgba)), url(/src/Img/map.jpg);
  background-size:cover;
  background-position: center center;
}
section.dark.table-img{
  background:linear-gradient(0deg, var(--dark-rgba), var(--dark-rgba)), url(/src/Img/table.jpg);
  background-size:cover;
  background-position: center center;
}

.call-to-action button{
  font-size: 1.2em;
}
.call-to-action button:hover{
  font-size: 1.2em;
  background-color: var(--dark-color);
  color: var(--brand-color);
}

.bonus-list{
  text-align: left;
  font-size: 1.2em;
}

.fancy{
    background-image: linear-gradient(to left, blue, green, yellow, orange, red);
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.golden{
	background-image: linear-gradient(to left, #8f6B29, #FDE08D, #DF9F28);
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.goal-item{
  display:flex;
  justify-content: space-between;
  gap:1em;
  padding:0;
  margin: 1em;
}


.divided{
  display:flex;
  gap: 20em
}

.Navbar {
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 5em;
  background-color: var(--light-color);
}

.nav-items{
  display:flex;
}

.nav-link{
  font-family: 'Courgette', cursive;
  text-decoration: none;
  color: var(--dark-color);
  margin: 0.5em;
}

.currency-display{
  margin: 0 1em;
  display:flex;
  font-weight: 600;
  align-items: center;
  gap: 1em;
  font-size: 0.8em;
}

.big{
  font-size: 2em;
  margin:0;
}

.rare{
  color: gold;
}

.uncommon{
  color: turquoise;
}


.inventory-description p{
  text-align: left;
  margin: 0.2em 0 ;
}

.inventory-item{
  display:flex;
  flex-direction: row;
  align-items:center;
  gap:1em;
}

