body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  text-align: center;
  background-color: #312E40;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.section {
  text-align: center;
  background-color: #312E40;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8vh 0;
  color: white;
}

.Navbar {
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5em;
}

.nav-link{
  text-decoration: none;
  color: inherit;
  margin: 0.5em;
}

.rare{
  color: gold;
}

.uncommon{
  color: turquoise;
}
