@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lato:wght@300;400&display=swap');

body {
  margin: 0;
  font-family: 'Courgette', cursive;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3{
  font-family: 'Courgette', cursive;
}

button{
  color: #312E40;
  background-color: #d2ccf3;
  padding: 1em;
  border: none;
  border-radius: 0.6em;
  transition-duration: 0.3s; 
}

button:hover{
  background-color: #312E40;
  color: #d2ccf3;
  cursor: pointer;
}

.shop-items{
  width:100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.shop-items div{
  flex:1;
}

.header {
  text-align: center;
  background-color: #312E40;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.section {
  text-align: center;
  background-color: #312E40;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8vh 0;
  color: white;
}

.Navbar {
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5em;
}

.nav-link{
  font-family: 'Courgette', cursive;
  text-decoration: none;
  color: inherit;
  margin: 0.5em;
}

.rare{
  color: gold;
}

.uncommon{
  color: turquoise;
}

.description{
  opacity: 0.8;
}

